@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0a1f44;
  --primary-500: #dfe7ff;
  --secondary: #1f4abf;
  --secondary-500: #2962ff;
  --secondary-200: #BDCEFF;
  --secondary-100: #EAEFFF;

}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-500: var(--primary-500);
  --color-secondary: var(--secondary);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);
  --color-neutral-900: #252525;
  --color-neutral-800: #303030;
  --color-neutral-700: #404040;
  --color-neutral-600: #505050;
  --color-neutral-500: #606060;
  --color-neutral-400: #6b6b6b;
  --color-neutral-300: #d1d1d1;
  --color-neutral-200: #e9e9e9;
  --color-neutral-100: #f0f0f0;

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@layer radialCard {
  .radial-bg {
    @apply [background:_radial-gradient(50%_50%_at_50%_50%,_var(--secondary-500)_0%,_var(--secondary)_100%)];
  }
}


.scrollable::-webkit-scrollbar{
    @apply w-2 h-2 rounded-full bg-transparent;
}
.scrollable::-webkit-scrollbar-thumb{
    @apply rounded-full bg-primary/20;
}
.scrollableSmall::-webkit-scrollbar{
    @apply w-[1px] h-[1px] rounded-full bg-transparent;
}
.scrollableSmall::-webkit-scrollbar-thumb{
    @apply rounded-full bg-primary/20;
}
*{
  @apply box-border;
}
body {
  @apply font-poppins text-neutral-900 overflow-x-hidden overflow-y-auto;
  background: var(--background);
}
